<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/extend/leaflet/leaflet.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">地图类型</label>
            <div class="layui-input-block">
                <!-- 1百度，2高德，3arcgis -->
                <input type="radio" name="mapType" lay-filter="mapType" value="1" title="百度" checked="">
                <input type="radio" name="mapType" lay-filter="mapType" value="2" title="高德">
                <input type="radio" name="mapType" lay-filter="mapType" value="3" title="arcgis">
            </div>
        </div>
    </form>
    <div id="allmap" style="height: 600px;"></div>
</div>
<script>
    layui.use(['form', 'leafLet'], function () {
        var $ = layui.$,
            form = layui.form;
        var mymap;

        form.on('radio(mapType)', function (data) {
            // 销毁地图
            mymap.off();
            mymap.remove();

            initType(parseInt(data.value), function () {
                L.marker([32.038444, 118.75727])
                    .addTo(mymap)
                    .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();
            });
        })
        form.render();


        initType(1, function () {
            L.marker([32.038444, 118.75727])
                .addTo(mymap)
                .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();
        });

        //不同地图初始化
        function initType(type, callback) {
            if (type == 1) {
                layui.use(['proj4', 'proj4leaflet', 'ChineseTmsProviders'], function () {
                    mymap = L.map("allmap", {
                        crs: L.CRS.Baidu,
                        minZoom: 3,
                        maxZoom: 18,
                        attributionControl: false,
                        center: [32.038444, 118.75727],
                        zoom: 12
                    });
                    L.tileLayer.chinaProvider('Baidu.Normal.Map', {
                        maxZoom: 18,
                        minZoom: 5
                    }).addTo(mymap);

                    if (callback && typeof (callback) == 'function') callback();
                })
            } else if (type == 2) {
                mymap = L.map('allmap', {
                    minZoom: 3,
                    maxZoom: 18,
                    attributionControl: false,
                    center: [32.038444, 118.75727],
                    zoom: 12
                });
                L.tileLayer('http://webrd01.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}', {}).addTo(mymap);
                if (callback && typeof (callback) == 'function') callback();
            } else if (type == 3) {
                mymap = L.map('allmap', {
                    minZoom: 3,
                    maxZoom: 18,
                    attributionControl: false,
                    center: [32.038444, 118.75727],
                    zoom: 12
                });
                L.tileLayer('http://map.geoq.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer/tile/{z}/{y}/{x}', {}).addTo(mymap);
                if (callback && typeof (callback) == 'function') callback();
            }
        }

    });
</script>