<!--地图模板-->
<script type="text/html" template>
	<link rel="stylesheet" href="{{ layui.setter.base }}style/common/my-map.css?v={{ layui.admin.v }}-1" media="all">
	<link rel="stylesheet" href="{{ layui.setter.base }}style/page/map-temp.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="map-container">
	<div class="layui-row">
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
			<div class="layui-card" style="max-height: 100%;overflow: auto;">
				<div class="layui-card-header">
					<span>列表</span>
					<div class="map-list-tool-bar">
						<span class="iconfont icon-list" lay-filter="map-list-toggle-display"></span>
					</div>
				</div>
				<div class="layui-card-body">
					<ul class="licon-list-message" id="LAY-app-map-temp-list" style="overflow: hidden;">
						<!-- <li>
							<h3>设备名称2</h3>
							<p>
								<div>设备类型：垃圾桶</div>
								<div>设备串号：152222222</div>
							</p>
							<span>5月02日 00:00</span>
							<a href="javascript:;" layadmin-event="replyNote" data-id="5" class="layui-btn layui-btn-xs layuiadmin-reply">详情</a>
						</li> -->
					</ul>
				</div>
			</div>
			<!-- 列表左右拉 -->
			<!-- <button class="invisiable" id="LAY-slide-toggle"><span class="layui-icon layui-icon-left"></span></button> -->
		</div>
		<div class="layui-col-xs12 layui-col-sm6 layui-col-md9">
			<div id="allmap" style="height: 100%;"></div>
			<!-- <div id="LAY-app-map-dev-detail"></div> -->
		</div>
	</div>
</div>
<script>
	layui.use(['mapTemp'], layui.factory('mapTemp'));
</script>
