<div class="layui-fluid">
	<div class="layui-row layui-col-space5">
		<div class="layui-col-sm12 layui-col-md6">
			<div class="layui-row layui-col-space5">
				<div class="layui-col-md6">
					<div class="licon-bar-info-row">
						<span class="licon-bar-left"><i class="layui-icon">&#xe659;</i></span>
						<div class="licon-bar-right">
							<div class="bar-info-name">总收入</div>
							<div class="bar-info-value">6000</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<div class="licon-bar-info-row">
						<span class="licon-bar-left"><i class="layui-icon">&#xe659;</i></span>
						<div class="licon-bar-right">
							<div class="bar-info-name">结余</div>
							<div class="bar-info-value">3000</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row layui-col-space5">
				<div class="layui-col-md6">
					<div class="layui-card">
						<div class="layui-card-header">收入</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p>999,666</p>
							<p>总收入<span class="layuiadmin-span-color">*** <i class="layui-icon">&#xe659;</i></span></p>
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<div class="layui-card">
						<div class="layui-card-header">收入</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p>999,666</p>
							<p>总收入<span class="layuiadmin-span-color">*** <i class="layui-icon">&#xe659;</i></span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-row layui-col-space5">
				<div class="layui-col-md4">
					<div class="licon-bar-info-col">
						<div class="licon-bar-left"><i class="layui-icon">&#xe659;</i></div>
						<div class="licon-bar-right">
							<div class="bar-info-name">今天赚了</div>
							<div class="bar-info-value">320</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="licon-bar-info-col">
						<div class="licon-bar-left"><i class="layui-icon">&#xe659;</i></div>
						<div class="licon-bar-right">
							<div class="bar-info-name">今天花了</div>
							<div class="bar-info-value">120</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="licon-bar-info-col">
						<div class="licon-bar-left"><i class="layui-icon">&#xe659;</i></div>
						<div class="licon-bar-right">
							<div class="bar-info-name">剩下</div>
							<div class="bar-info-value">200</div>
						</div>
					</div>
				</div>
			</div>


			<div class="layui-row layui-col-space5">
				<div class="layui-col-md12">
					<div class="layui-tab layui-tab-brief">
						<ul class="layui-tab-title">
							<li class="layui-this">网站设置</li>
							<li>用户管理</li>
							<li>权限分配</li>
							<li>商品管理</li>
							<li>订单管理</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
							</div>
							<div class="layui-tab-item">
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
								内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）<br/>
							</div>
							<div class="layui-tab-item">内容3</div>
							<div class="layui-tab-item">内容4</div>
							<div class="layui-tab-item">内容5</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="layui-col-sm12 layui-col-md6">
			<div class="layui-row layui-col-space5">
				<div class="layui-col-md6">

					<div class="licon-panel-contact">
						<div class="licon-panel-contact-left">
							<a href="javascript:;">
								<div>
									<script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/character.jpg"> </script>
									<div>演员</div>
								</div>
							</a>
						</div>

						<div class="licon-panel-contact-right">
							<a href="javascript:;">
								<h3 class="licon-panel-contact-title">
									<strong>胡歌</strong>
								</h3>
								<p class="licon-panel-contact-textimg">
									<i class="layui-icon layui-icon-location"></i>
									上海
								</p>
							</a>
							<div class="licon-panel-contact-address">
								<a href="javascript:;">
									<strong>Hu Ge studio</strong>
									<br>
									E-mail:xxx@baidu.com
									<br>
									Weibo: https://weibo.com/hu_ge
									<br>
									<addr title="phone">Tel:</addr>
									(123) 456-7890
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<div class="licon-panel-contact">
						<div class="licon-panel-contact-left">
							<a href="javascript:;">
								<div>
									<script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/character.jpg"> </script>
									<div>演员</div>
								</div>
							</a>
						</div>

						<div class="licon-panel-contact-right">
							<a href="javascript:;">
								<h3 class="licon-panel-contact-title">
									<strong>胡歌</strong>
								</h3>
								<p class="licon-panel-contact-textimg">
									<i class="layui-icon layui-icon-location"></i>
									上海
								</p>
							</a>
							<div class="licon-panel-contact-address">
								<a href="javascript:;">
									<strong>Hu Ge studio</strong>
									<br>
									E-mail:xxx@baidu.com
									<br>
									Weibo: https://weibo.com/hu_ge
									<br>
									<addr title="phone">Tel:</addr>
									(123) 456-7890
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-row layui-col-space5">
				<div class="layui-col-md4">
					<div class="licon-panel-goods">
						<a href="javascript:;">
							<script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"> </script>
						</a>
						<a href="javascript:;">
							<div class="licon-panel-goods-text">
								<p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
								<div class="price">
									<b>￥79</b>
									<p>¥<del>130</del></p>
									<span class="flow"><i class="layui-icon layui-icon-rate"></i>433</span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="licon-panel-goods">
						<a href="javascript:;">
							<script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"> </script>
						</a>
						<a href="javascript:;">
							<div class="licon-panel-goods-text">
								<p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
								<div class="price">
									<b>￥79</b>
									<p>¥<del>130</del></p>
									<span class="flow"><i class="layui-icon layui-icon-rate"></i>433</span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="licon-panel-goods">
						<a href="javascript:;">
							<script type="text/html" template><img src="{{ layui.setter.base }}style/res/template/portrait.png"> </script>
						</a>
						<a href="javascript:;">
							<div class="licon-panel-goods-text">
								<p class="info">2018春夏季新款港味短款白色T恤+网纱中长款chic半身裙套装两件套</p>
								<div class="price">
									<b>￥79</b>
									<p>¥<del>130</del></p>
									<span class="flow"><i class="layui-icon layui-icon-rate"></i>433</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	layui.use(['admin'], function() {
		var $ = layui.$,
			admin = layui.admin;

	});
</script>
