<div class="layui-fluid">
  <div class="layui-row layui-col-space5">   
 
    <div class="layui-col-sm8">
      <div class="layui-row layui-col-space5">
        <div class="layui-col-sm6">
          <div class="layui-card">
            <div class="layui-card-header">本周活跃用户列表</div>
            <div class="layui-card-body">
              <table class="layui-table layuiadmin-page-table" lay-skin="line">
                <thead>
                  <tr>
                    <th>用户名</th>
                    <th>最后登录时间</th>
                    <th>状态</th>
                    <th>获得赞</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td><span class="first">胡歌</span></td>
                    <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                    <td><span>在线</span></td>
                    <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td><span class="second">彭于晏</span></td>
                    <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                    <td><span>在线</span></td>
                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td><span class="third">靳东</span></td>
                    <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                    <td><i>离线</i></td>
                    <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td>吴尊</td>
                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                    <td><i>离线</i></td>
                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td>许上进</td>
                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                    <td><span>在线</span></td>
                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td>小蚊子</td>
                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                    <td><i>在线</i></td>
                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                  <tr>
                    <td>贤心</td>
                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                    <td><span>在线</span></td>
                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="layui-col-sm6">
          <div class="layui-card">
            <div class="layui-card-header">项目进展</div>
            <div class="layui-card-body">
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table id="LAY-home-homepage2"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
layui.use('console', layui.factory('console'));
</script>