/****************************百度地图*******************************/


/*地图弹出框*/

.BMap_top,
.BMap_center,
.BMap_bottom,
.BMap_pop>div>div {
	border: none !important;
	background: #fff !important;
	color: #666;
}

.BMap_bottom {
	margin-top: -1px;
}

.BMap_pop img:first-child {
	display: none;
}

.BMap_bottom+div+div {
	background: url("../res/lt.png") no-repeat;
	background-size: 100% 100%;
}

.BMap_bottom+div+div+div {
	padding: 0px 5px;
}

.BMap_bottom+div+div+div {
	height: auto !important;
	top: 37px !important;
}

.BMap_pop>div:first-child,
.BMap_top,
.BMap_top+div,
.BMap_center+div,
.BMap_bottom,
.BMap_bottom+div {
	display: none;
}

.BMap_bottom+div+div+div+img {
	top: 40px !important;
}

.BMap_bubble_content {
	border: none !important;
	background: #fff !important;
}

.BMap_center {
	height: 100% !important;
}

.BMap_bubble_content .marker-content-title {
	display: inline-block;
	width: 80px;
	text-align: right;
}


/*使闪烁在标注下面*/

.BMap_mask+div>div:nth-child(5) {
	z-index: 500 !important;
}

/****************************高德地图*******************************/

.amap-logo,
.amap-copyright {
	display: none !important;
	visibility: hidden !important;
}

.amap-info-content.amap-info-outer {
	padding: 0px !important;
}

.bottom-center .amap-info-sharp {
	border-top: 8px solid #e9e9e9 !important;
}